.home-container {
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  margin-bottom: 15px;
}

.home-content-container p {
  width: 260px;
  color: #9e9e9e;
  font-size: 0.6em;
  margin-bottom: 30px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 50px 10px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

.home-image-container {
  padding: 50 15px;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
}

@media (min-width: 576px) {
  .home-image-container svg {
    width: 506px;
  }

  .home-container {
    padding: 15px;
    font-size: 40px;
  }

  .home-content-container h1 {
    width: 450px;
    margin-bottom: 20px;
  }

  .home-content-container p {
    width: 420px;
    margin-bottom: 20px;
  }

  .home-content-container button {
    width: 400px;
    font-size: 0.4em;
  }
}

@media (min-width: 768px) {
  .home-image-container svg {
    width: 606px;
  }

  .home-image-container {
    padding: 50px 20px;
  }

  .home-content-container {
    padding: 20px 20px 100px 20px;
  }
}

@media (min-width: 992px) {
  .home-container {
    padding: 40px;
    font-size: 55px;
  }

  .home-image-container {
    padding: 90px 20px;
  }

  .home-content-container {
    padding: 20px 20px 150px 20px;
  }

  .home-content-container h1 {
    width: 700px;
    margin-bottom: 26px;
  }

  .home-content-container p {
    width: 700px;
    margin-bottom: 47px;
  }

}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row;
    justify-content: space-around;    
    height: 80vh;
  }

  .home-content-container {
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-flow: wrap;
    padding: 120px 20px 140px 40px;
    width: 700px;
  }

  .home-image-container svg {
    width: 100%;
  }

  .home-image-container {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .home-content-container button {
    width: 500px;
  }

}
