.btn-container {
  display: flex;
  height: 50px;
}

.btn-container button {
  text-transform: uppercase;
  border-radius: 10px 0px 0px 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.btn-icon-container {
  width: 50px;
  background-color: #33569B;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}